.result{
    padding-top: 5px;
    text-align: center;
}

.result p{
    color: rgb(0, 0, 0);
    background: rgb(255, 187, 0);
    border-radius: 30px;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
}

.headlineAndPoints p{
    position: absolute;
    top: 0;
    right: 30px;
    width: 280px;
    background: rgb(255, 187, 0);
    border-radius: 30px;
}

.headlineAndPoints h1{
    color: aliceblue;
    font-weight: 100;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.headlineAndPoints h2{
    position: absolute;
    top: 10px;
    left: 30px;
    color: aliceblue;
    font-weight: 100;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}