.card {
    position: fixed;
    width: 100%;
    height: 100%;
}

.cardFront{
    margin-top: 205px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImg {
    width: 350px;
    height: 550px;
}