.home{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 30%;
}

.home h1 {
    color: aliceblue;
    font-weight: 100;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.input{
    text-align: center;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    box-shadow: -5px 7px 30px #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.errorInput{
    text-align: center;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    box-shadow: -5px 7px 30px #ff0000;
    font-size: 20px;
    font-weight: bold;
}


.errorInput::placeholder{
    color: red;
}

::placeholder{
    text-align: left;
    padding: 30px;
   
}

.send{
    margin-top: 30px;
    width: 20%;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    box-shadow: 0 9px #bbbbbb;
    transition: background-color 300ms linear;
}

.send:hover{
    background-color: rgb(255, 145, 0);
    color: black;
}

.send:active {
    background-color: rgb(255, 145, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}