.home{
    text-align: center;
    padding-top: 32.52%;
    padding-bottom: 30%;
}

.form input{
    text-align: center;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    box-shadow: -5px 7px 30px #ffffff;
    font-size: 20px;
    font-weight: bold;
}

::placeholder{
    text-align: left;
    padding: 30px;
}

.send{
    margin-top: 30px;
    width: 20%;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    box-shadow: 0 9px #bbbbbb;
}

.send:hover{
    background-color: rgb(255, 145, 0);
}

.send:active {
    background-color: rgb(255, 145, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}