.quiz {
    padding-top: 5px;
    text-align: center;
}

.headlineAndPoints {
    padding: 50px;
}

.headlineAndPoints p {
    position: absolute;
    top: 0;
    right: 30px;
    width: 280px;
    background: rgb(255, 187, 0);
    border-radius: 30px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.headlineAndPoints h2 {
    position: absolute;
    top: 10px;
    left: 30px;
    color: aliceblue;
    font-weight: 100;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz > p {
    padding: 25px;
    color: rgb(0, 0, 0);
    background: rgb(255, 187, 0);
    border-radius: 30px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.quiz img {
    height: 500px;
    width: 710px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #000000, -7px -7px 10px rgb(175, 174, 174);
}

.answers {
    margin: 3em auto;
    padding: 3em;
    width: 850px;
    height: 190px;
}

.answers button {
    display: block;
    padding: 35px 40px;
    width: 50%;
    float: left;
    box-shadow: 7px 7px 10px #000000;
    border: 1px solid black;
    background: rgb(255, 187, 0);
    border-radius: 20px;
    font-size: 40px;
    font-style: italic;
    cursor: pointer;
}

.answers button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    background-color: rgb(255, 145, 0);
}

.result {
    margin: 3em auto;
    padding: 3em;
    width: 850px;
    height: 190px;
    border-radius: 100px;
    border-color: #000000;
    background: #40809a;
    box-shadow: 7px 7px 10px #000000, -7px -7px 10px rgb(202, 202, 202);
}

.result button {
    margin-top: 50px;
    padding: 35px 40px;
    width: 70%;
    box-shadow: 7px 7px 10px #000000;
    border: 1px solid black;
    background-color: rgb(255, 221, 0);
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.result button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    background-color: rgb(255, 145, 0);
}